<mat-toolbar color="primary" class="mat-elevation-z4">
  <div class="" fxHide fxShow.lt-md>
    <button mat-icon-button (click)="sidenavOpen()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="logo">
    <a routerLink="/">HomeRecipes</a>
  </div>
  <div class="" fxFlex fxLayout fxLayoutAlign="flex-end" fxShow fxHide.lt-md>
    <ul fxLayout fxLayoutGap="10px">
      <li><a routerLink="/">Войти</a></li>
      <li><a routerLink="/">Рецепты</a></li>
      <li><a routerLink="/">Список покупок</a></li>
      <li><a routerLink="/">Выйти</a></li>
    </ul>
  </div>
</mat-toolbar>
