<div class="recipe_detail">
  <h1>Recipe name</h1>
  <div class="recipe_img"><img src="" alt="" /></div>
  <div class="recipe_description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque commodi
      consequatur ipsam itaque iusto molestias praesentium quae quibusdam
      tempore veniam.
    </p>
  </div>
  <div class="recipe_timer">
    <mat-icon>timer</mat-icon>
    <p>20 минут</p>
  </div>
  <div class="recipe_ingredients">
    <div class="recipe_ingredients-header">
      <h3>Ингредиенты</h3>
      <p>порции</p>
    </div>
    <ul>
      <li>
        <p>Ингредиент</p>
        <span>30 грамм</span>
      </li>
      <li>
        <p>Ингредиент</p>
        <span>30 грамм</span>
      </li>
      <li>
        <p>Ингредиент</p>
        <span>30 грамм</span>
      </li>
      <li>
        <p>Ингредиент</p>
        <span>30 грамм</span>
      </li>
      <li>
        <p>Ингредиент</p>
        <span>30 грамм</span>
      </li>
    </ul>
  </div>
  <div class="recipe_steps">
    <h3>Инструкция приготовления</h3>
    <div class="recipe_step">
      <img src="" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, non!
      </p>
    </div>
    <div class="recipe_step">
      <img src="" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, non!
      </p>
    </div>
    <div class="recipe_step">
      <img src="" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, non!
      </p>
    </div>
    <div class="recipe_step">
      <img src="" alt="" />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, non!
      </p>
    </div>
  </div>
</div>
