<div class="recipe_detail" *ngIf="recipe">
  <h1>{{ recipe.name }}</h1>
  <div class="recipe_img">
    <img [src]="recipe.images[0]" [alt]="recipe.name" />
  </div>
  <div class="recipe_description">
    <p>
      {{ recipe.description }}
    </p>
    <div class="recipe_timer" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>timer</mat-icon>
      <p>{{ recipe.time_for_preparing }} минут</p>
    </div>
  </div>

  <div class="recipe_ingredients">
    <div
      class="recipe_ingredients-header"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <h3>Ингредиенты:</h3>
      <p>{{ recipe.portions }} порции</p>
    </div>
    <ol fxLayout="column" fxLayoutAlign="center start">
      <li
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxFlexFill
        *ngFor="let ingredient of recipe.ingredients"
      >
        <p>{{ ingredient.name }}</p>
        <span>{{ ingredient.amount }} {{ ingredient.measure }}</span>
      </li>
    </ol>
  </div>
  <div class="recipe_steps">
    <h2>Инструкция приготовления</h2>

    <div
      class="recipe_step"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayout="row"
      fxLayoutAlign="start center"
      *ngFor="let step of recipe.steps"
    >
      <div class="recipe_step-img" *ngIf="step.image">
        <img [src]="step.image" [alt]="step.text" />
      </div>
      <p>
        {{ step.text }}
      </p>
    </div>
  </div>
</div>
<p *ngIf="!recipe">No Recipe found</p>
