<mat-card class="recipe-card">
  <mat-card-header>
    <mat-card-title>Recipe Name</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="https://e2.edimdoma.ru/data/posts/0002/3033/23033-ed4_wide.jpg?1571234122"
    alt=""
  />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci
      assumenda at aut culpa distinctio dolore, hic iusto laudantium minima nemo
      nisi officiis pariatur quasi quod, quos, suscipit! Dignissimos, obcaecati!
    </p>
  </mat-card-content>
  <mat-card-footer>
    <ul
      class="recipe-ingredients"
      fxLayout="row wrap"
      fxLayoutGap="10px"
      fxLayoutAlign="flex-start"
    >
      <li class="recipe-ingredient">Картоха</li>
      <li class="recipe-ingredient">морковка</li>
      <li class="recipe-ingredient">Свекла</li>
      <li class="recipe-ingredient">Цибуля</li>
      <li class="recipe-ingredient">Хлеб</li>
      <li class="recipe-ingredient">Хлеб</li>
      <li class="recipe-ingredient">Хлеб</li>
      <li class="recipe-ingredient">Хлеб</li>
    </ul>
  </mat-card-footer>
</mat-card>
