<mat-card class="mat-elevation-z4" (click)="goToRecipe(recipe.id!)">
  <img
    *ngIf="recipe.images.length > 0"
    mat-card-image
    [src]="recipe.images[0]"
    [alt]="recipe.name"
  />
  <mat-card-header>
    <mat-card-title fxFlex="1 1 100%">{{ recipe.name }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <ul
      class="recipe-ingredients"
      fxLayout="row wrap"
      fxLayoutGap="10px"
      fxLayoutAlign="flex-start"
    >
      <li
        class="recipe-ingredient"
        *ngFor="let ingredient of recipe.ingredients"
      >
        {{ ingredient.name }}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
