<div
  fxFlex
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="10px grid"
  fxLayoutAlign="flex-start"
>
  <app-recipe-item
    fxFlex.lg="25"
    fxFlex.md="33.3"
    fxFlex.lt-md="50"
  ></app-recipe-item>
  <app-recipe-item
    fxFlex.lg="25"
    fxFlex.md="33.3"
    fxFlex.lt-md="50"
  ></app-recipe-item>
  <app-recipe-item
    fxFlex.lg="25"
    fxFlex.md="33.3"
    fxFlex.lt-md="50"
  ></app-recipe-item>
  <app-recipe-item
    fxFlex.lg="25"
    fxFlex.md="33.3"
    fxFlex.lt-md="50"
  ></app-recipe-item>
  <app-recipe-item
    fxFlex.lg="25"
    fxFlex.md="33.3"
    fxFlex.lt-md="50"
  ></app-recipe-item>
</div>
